* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url("https://cdn.pixabay.com/photo/2020/08/25/11/10/chess-5516446_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

table,
tr,
th,
td {
  border: 2px solid rgb(87, 86, 86);
  border-collapse: collapse;
}

.box-inner {
  height: 10px;
  width: 20px;
  background-color: gray;
  text-align: center;
}

.even,
.odd {
  padding: 30px;
}

.even {
  background-color: black;
}

.odd {
  background-color: aliceblue;
}
